<section>
  <div class="container-fluid">
    <%= render 'layouts/header'%>
  </div>
</section>
<section>
<%= debug @provider %>
<% @provider = current_provider %>
  <div class="container-fluid provider_info">
    <div class="card provider">

      <h3 class="card-header provider"><%= current_provider.firstname %>Hello</h3>
      <div class="card-block provider">
        <h4 class="card-title provider_home"><%= current_provider.organization %></h4>
        <p class="card-text provider_home"><%= current_provider.occupation %></p>

      </div>
    </div>
  </div>

</section>
<section>
  <div class="container-fluid provider_homes">
    <h3 class="text-center homes">my facilities</h3>
    <div class="card-group">
  <div class="card text-center provider">
    <div class="img-responsive">
      <%=image_tag("home.png", alt: "home", class: "card-image-top ")%>
    </div>
    <div class="card-block provider_home">
      <h4 class="card-title provider_home">house name</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
 <a href="#" class="btn btn-warning edit_home">edit home</a>
    </div>
  </div>

  <div class="card text-center provider">
      <div class="img-responsive">
    <%=image_tag("home.png", alt: "home", class: "card-image-top ")%>
  </div>
    <div class="card-block provider_home">
      <h4 class="card-title provider_home">house name</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
 <a href="#" class="btn btn-warning edit_home">edit home</a>
    </div>
  </div>
  <div class="card text-center provider">
      <div class="img-responsive">
      <%=image_tag("home.png", alt: "home", class: "card-image-top ")%>
    </dvi>
    <div class="card-block provider_home">
      <h4 class="card-title provider_home">house name</h4>
      <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
 <a href="#" class="btn btn-warning edit_home">edit home</a>
    </div>
  </div>
</div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="card text-center provider_home">
    <div class="card-header add_homes ">
  list your facilities
</div>
<div class="card-block">
  <h4 class="card-title">add your homes below!!</h4>
    <%= render "houses/form" %>
  <p class="card-text">add to your home listings and manage current listings from here. click below to get started with your first home.</p>
  <a href="products" class="btn btn-primary">Go somewhere</a>
</div>
</div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <%= render 'layouts/footer_main'%>
  </div>
</section>
