<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">

  <div id="main-icon">
    <a href="/houses">
      <%=image_tag("tinylogo.png", alt: "tinylogo", class: "tinylogo img-fluid ")%>
    </a>
  </div>

  <div id="header-items">
    <a class="header-item" href="/about">about</a>
    <a class="header-item" href="/blogs">read</a>
    <a class="header-item" href="/social">social</a>

    <% if user_signed_in? %>

      <%= link_to "dashboard", index_path, class: "header-item link_items" %>
      
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "header-item link_items" %>
        
    <% else %>
          
      <%= link_to "login", new_user_session_path, class: "header-item link_items" %>

      <%= link_to "register", new_user_registration_path, class: "header-item link_items" %>

    <% end %>
  </div>
</nav>
