<% if current_user %>
  <%= render 'user_profile' %>
<% else %>
  <header class="container-fluid masthead">
    <div class="intro-body">
      <div class="row image">
        <div class="img-fluid mx-auto" id="lifebuoy">
          <%=image_tag("logolarge.png", alt: "logo", class: "img-fluid logo_large")%>
          <div class="col-md-10 mx-auto">
            <div class="row-fluid">
              <%= form_tag(houses_path, method: "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], id: "search_term", name:"user_location", placeholder: "find sober living by city, state, or zip", class: "search_field" %>
              <%= submit_tag "Search", class: 'house_submit' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>