<div class="comment clearfix">


				  <div class="post-comments">
				      <p class="meta"><%= time_ago_in_words(comment.created_at) %>  by <strong><%= current_user.username %></strong></p>
				      <p class="comment-body">
				         <%= comment.body %></p>
				      </p>
				  </div>
			</div>




<!-- <p> <%= link_to 'edit' %></p> -->
<p><%= link_to 'delete', [comment.blog, comment],
method: :delete,
class: "delete-link",
  data: { confirm: 'are you sure?'}
  %>
  </p>
</div>
