<section>
  <%= render "layouts/header" %>
</section>

<head>
  <meta charset="UTF-8">
</head>

<section class="house-display">
  <div class="slick-carousel">
    <div class="thumbnail text-center">
      <img src="https://i1.wp.com/blog.extraspace.com/wp-content/uploads/2017/06/VSP-Virtuall-Staged-Bedroom.jpg?resize=1500%2C400">
      <div class="caption">
        <p> <%=@house.name%> </p>
      </div>
    </div>
    <% @house.images.each do |image| %>
      <div>
        <img src=<%=image.image%> >
      </div>
    <% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="house-details">
          <h3 class="title"> <%=@house.name%> </h3>
          <h5 class="description"> <%=@house.property_description%> in <%=@house.city%>. </h5>
          <p> Price: <%= number_to_currency(@house.price)%> /  Deposit: <%=number_to_currency(@house.deposit)%> </p>
          <p> Neighborhood: <%=@house.neighborhood%> </p>
          <p> Capacity: <%=@house.capacity%> </p>
          <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

          <ul class= "amenity-list">
            <% @categories.each do |category| %>
              <% category.filters.each do |filter| %>
                <% if @filter_array.include?(filter) %>

                  <% if filter.filter == "Dogs" %>
                    <li> <i id="amenities" class="fa fa-paw"></i> Dogs Allowed </li>

                  <% elsif filter.filter == "Coffee Provided" %> 
                    <li> <i id="amenities" class="fa fa-coffee"></i> Free Coffee </li> 
 
                  <% elsif filter.filter == "Air Conditioning" %>
                    <li> <i id="amenities" class="fa fa-snowflake-o"></i> AC </li>

                  <% elsif filter.filter == "Heat" %>
                    <li> <i id="amenities" class="fa fa-thermometer-three-quarters"></i> Heat </li>

                  <% elsif filter.filter == "Parking" %>
                    <li> <i id="amenities" class="fa fa-car"></i> Parking </li>

                  <% elsif filter.filter == "Commercial Insurance" %>
                    <li> <i id="amenities" class="fa fa-id-card-o"></i> Insurance Accepted</li>

                  <% elsif filter.filter == "Internet (wi-fi)" %>
                    <li> <i id="amenities" class="fa fa-wifi" ></i> Wi-Fi </li>

                  <% elsif filter.filter == "Television" %>
                    <li> <i id="amenities" class="fa fa-television" ></i> TV </li>

                  <% end %>

                <% end %>
              <% end %>
            <% end %>
          </ul>

          <p>
            <a class="btn" data-toggle="collapse" data-target="#viewdetails">See all details </a>
          </p>

          <ul class= "amenity-list collapse" id="viewdetails">

            <% @categories.each do |category| %>
              <h5> <%= category.category %> </h5>
              <% category.filters.each do |filter| %>
                <% if @filter_array.include?(filter) %>
                  <p> <%= filter.filter %> </p>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-lg-4">
        <div class = "contact-card">
          <div class="card text-center">
            <div class="card-header">
              Contact this Zober Listing:
            </div>
            <div class="card-block">
              <h4 class="card-title call">Email: <%=@house.email %> </h4>
              <h4 class="card-title call">Phone: <%=@house.phone %> </h4>
              <a class="house-website" href=<%=@house.website%>>  <h4 class="card-title call"> Website </h4> </a> 
            </div>
            <div class="card-footer end">
              <%=image_tag("tinylogo.png", alt: "tinylogo", class: "tinylogo img-fluid ")%>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>


<script>
$(document).ready(function(){
  $('.slick-carousel').slick({
    dots: false,
    arrows: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    centerMode: true,
    variableWidth: true
  }); 
});
</script>



<section>
  <%= render "layouts/footer_main" %>
</section>

