<section>
  <%= render "layouts/header" %>
</section>

<head>
  <meta charset="UTF-8">
</head>

<section class="house-display">
  <div class="slick-carousel">
    <div class="thumbnail text-center">
      <img src="https://i1.wp.com/blog.extraspace.com/wp-content/uploads/2017/06/VSP-Virtuall-Staged-Bedroom.jpg?resize=1500%2C400">
      <div class="caption">
        <p> <%=@house.name%> </p>
      </div>
    </div>
    <% @house.images.each do |image| %>
      <div>
        <img src="<%=image.image%>" />
      </div>
    <% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="house-details">
          <div>
            <h3 class="title"> <%=@house.name%> </h3>
          </div>
          <div>
            <h5><%=@house.city + ', ' + @house.state %></h5>
          </div>
          <div>
            <%= @house.bio %>
          </div>
        </div>
      </div>

      <div>
        <h1>At a glance</h1>
        <ul>
          <li><%= @house.house_type %></li>
          <li><%= @house.neighborhood %> neighborhood</li>
          <li><%= @house.recovery_plan %></li>
          <li><%= @house.diagnosis_description %></li>
          <li><%= @house.gender %></li>
          <li><%= @house.capacity %> beds</li>
          <li><%= @house.room_type %> rooms</li>
          <li><%= @house.electronics %></li>
          <li><%= @house.smoking_policy %></li>
<!--          <li><%#= @house. %></li>-->
        </ul>
      </div>

      <div class="col-xs-4 col-lg-4">
        <div class = "contact-card">
          <div class="card text-center">
            <div class="card-header">
              Contact this Zober Listing:
            </div>
            <div class="card-block">
              <h4 class="card-title call">Email: <%=@house.email %> </h4>
              <h4 class="card-title call">Phone: <%=@house.phone %> </h4>
              <a class="house-website" href="<%=@house.website%>">  <h4 class="card-title call"> Website </h4> </a>
            </div>
            <div class="card-footer end">
              <%=image_tag("tinylogo.png", alt: "tinylogo", class: "tinylogo img-fluid ")%>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>


<script>
$(document).ready(function(){
  $('.slick-carousel').slick({
    dots: false,
    arrows: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    centerMode: true,
    variableWidth: true
  }); 
});
</script>



<section>
  <%= render "layouts/footer_main" %>
</section>

