<header class="navbar navbar-expand-lg navbar-light fixed-top" id="secondNav">

  <div class="container-fluid">
    <a href="/houses">
      <%=image_tag("tinylogo.png", alt: "tinylogo", class: "tinylogo img-fluid ")%>
    </a>
  </div>


  <div class="col-md-5 mx-auto">
    <input id="search-value" type="text" placeholder="Enter city, state, or zip to find treatment or sober living">
    <input id="search-submit" type="submit" value="Search">
  </div>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/about">about</a>
      </li>

      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/social">social</a>
      </li>

      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/blogs">blog</a>
      </li>

      <% if user_signed_in? %>
        <li class="link_items">
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: "link_items" %>
        </li>

        <li>
          <%= link_to "dashboard", index_path, class: "link_items" %>
        </li>
        
      <% else %>
          
        <li class="link_items">
          <%= link_to "register", new_user_registration_path, class: "link_items" %>
        </li>
          
        <li class="link_items">
          <%= link_to "login", new_user_session_path, class: "link_items" %>
        </li>

      <% end %>

        </ul>
      </ul>
    </div>
  </div>
</header>

<script>
  /*
  function activatePlacesSearch(){
    var input = document.getElementById('search_term');
    var options = {
      types: ['geocode'],
      componentRestrictions: {country: 'us'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }
  */
</script>
<script src="https://www.google.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>"> </script>
