<header class="navbar navbar-expand-lg navbar-light fixed-top" id="secondNav">

  <div id="main-icon">
    <a href="/houses">
      <%=image_tag("tinylogo.png", alt: "tinylogo", class: "tinylogo img-fluid ")%>
    </a>
  </div>

  <div id="searchbar">
    <input id="search-value" type="text" placeholder="Enter city, state, or zip to find treatment or sober living">
  </div>

  <div id="header-items">
    <a class="header-item" href="/about">about</a>
    <a class="header-item" href="/social">social</a>
    <a class="header-item" href="/blogs">blog</a>

    <% if user_signed_in? %>

      <%= link_to "dashboard", index_path, class: "header-item link_items" %>
      
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "header-item link_items" %>
        
    <% else %>
          
      <%= link_to "login", new_user_session_path, class: "header-item link_items" %>

      <%= link_to "register", new_user_registration_path, class: "header-item link_items" %>

    <% end %>

  </div>
</header>

<script src="https://www.google.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>&libraries=places"> </script>
